git+https://github.com/projectatomic/commissaire-http.git #license=GPLv3
git+https://github.com/projectatomic/commissaire-service.git #license=GPLv3
git+https://github.com/projectatomic/commctl.git #license=LGPLv2
jinja2<2.9
